#save-computer-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

@keyframes save-computer-modal-animation{
    from{
        transform: scale(0);
        left: -800px;
        opacity: 0;
    }

    to{
        transform: scale(1);
        left: 0;
        opacity: 1;
    }
}

#save-computer-modal-content{
    animation-name: save-computer-modal-animation;
    animation-duration: 0.5s;
    width: 80%;
    height: auto;
    border-radius: 10px;
    position: relative;
    margin: 30px auto;
    padding: 5px 10px;
    background-color: rgb(235, 324, 423);
}

#save-computer-modal-close-button{
    float: right;
    cursor: pointer;
    padding: 5px 10px;
    background-color: brown;
    color: white;
    border-radius: 5px;
}

#save-computer-modal-close-button:hover{
    background-color: red;
}

#computer-image-show{
    height: 100px;
}

#computer-search-input{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 150px;
}

.computers-loading{
    display: none;
    text-align: center;
}

#computer-modal-image-show{
    width: 100%;
    border-radius: 10px;
}

@keyframes computer-image-modal-animation{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}

#computer-image-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#computer-image-modal-content{
    animation-name: computer-image-modal-content;
    animation-duration: 0.5s;
    width: 80%;
    height: auto;
    border-radius: 10px;
    position: relative;
    margin: auto;
    padding: 5px 10px;
}

@media screen and(min-width: 400px){
    #computer-image-modal-content{
        width: 75%;
    }
}

@media screen and(min-width: 600px){
    #computer-image-modal-content{
        width: 70%;
    }
}

@media screen and(min-width: 800px){
    #computer-image-modal-content{
        width: 65%;
    }
}

@media screen and(min-width: 900px){
    #computer-image-modal-content{
        width: 60%;
    }
}

@media screen and(min-width: 1000px){
    #computer-image-modal-content{
        width: 55%;
    }
}

@media screen and(min-width: 1100px){
    #computer-image-modal-content{
        width: 50%;
    }
}

@media screen and(min-width: 1300px){
    #computer-image-modal-content{
        width: 45%;
    }
}